VITE_SUPABASE_URL=urlhere
VITE_SUPABASE_ANON_KEY=keyhere
VITE_ENABLE_OBSIDIAN_THEME_PREVIEW=false
VITE_ENABLE_CELESTIAL_THEME_PREVIEW=false
VITE_ENABLE_SAKURA_THEME_PREVIEW=false
VITE_ENABLE_EMBER_THEME_PREVIEW=false
VITE_ENABLE_GLACIER_THEME_PREVIEW=false
